<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>✈️ Bouquet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bulma/bulma.css">
    <link rel="stylesheet" href="/dist/build.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
