{{#contentFor page}}landing{{/contentFor}}

<div class="container">
    <h1 class="title">Welcome to <strong>bouqet</strong>.</h1>
    <h2 class="subtitle">An app to help you remember to get out and <strong>travel</strong> every once in a while.</h2>
    <form class="form" action="/auth/login" method="post">
        <div class="columns">
            <div class="colum is-narrow">
                <p class="control has-addons">
                    <input class="input" type="text" name="email" placeholder="Enter your e-mail adress">
                    <input class="button is-primary" type="submit" value="Sign in">
                </p>
            </div>
        </div>
    </form>
</div>
